body {
	font-family: helvetica, arial, sans-serif; 
	background: #e8e8e8; 
	margin: 0px; 
}

a:hover { text-decoration: none; }

#app_wrapper { text-align: center; }

#url_entry { 
	margin-top: 30px;
	vertical-align: middle;
}

#url_entry input {
	width: 30%;
	min-width: 250px; 
	margin: 0px;
} 

#reload_btn, #info_btn { font-size: 20px; }


#border {
	background:#111;
	margin: 20px auto 0px;
	border: 45px solid #080808;
	border-radius: 15px;
	box-shadow: 0 8px 15px 8px #ccc;
	display:inline-block;
	font-size:14px;
	color:rgba(200,200,200,0.4);
	}

#device { width: 480px; height: 320px; }

#viewport {
	border: 1px solid #444;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	background:#555;
	}

#header {
	position: relative;
	height: 40px;
	margin-top: -40px;
	line-height: 40px;
}

#header a { color: #555; }
#header:hover   { color: #777; }
#header a:hover { color: #ccc; }

#abbr { float:left; }

#screensize { float: right; }

#rotate{
	position: absolute;
	right: -35px;
	font-size: 24px;
	font-weight: bold;
}

#scrollbars{
	position: absolute;
	top: 55px;
	right: -33px;
	font-size: 30px;
	font-weight: bold;
}

#description {
	height: 40px;
	margin-bottom: -40px;
	line-height: 40px;
}

#info_text { display:none; }


/* use this to hide iframe scrollbar but keep functionality in webkit */
div.hide_scrollbar #viewport::-webkit-scrollbar{ display: none; }
#viewport::-webkit-scrollbar{  }

