body { font-family: helvetica, arial, sans-serif; background:#e8e8e8; margin:0px; }

a { color:#555; text-decoration: none; }
a:hover {color:#777;text-decoration: none;}

#app_wrapper { text-align:center; }

#url_entry { 
	margin-top:60px;
	vertical-align:middle;
}

#url_entry input { 
	width:30%;
	min-width: 250px; 
	margin: 0px;
} 

#reload_btn, #info_btn { font-size: 20px; }

#border {
	background:#111;
	margin: 20px auto 0px;
	border: 45px solid #080808;
	border-radius: 15px;
	box-shadow: 0 8px 15px 8px #ccc;
	display:inline-block;
	font-size:14px;
	color:rgba(200,200,200,0.4);
	}

/* use this to hide iframe scrollbar but keep functionality */
div.hide_scrollbar #viewport::-webkit-scrollbar{ display: none; }
#viewport::-webkit-scrollbar{  }

#device { width: 800px; height: 600px; }

#viewport {
	border: 1px solid #444;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	background:#555;
	}

#controls_wrap { position:fixed; top:0px; width:100%; }

#controls {
	background: rgba(0,0,0,0.5);
	color: #555;
	border: 1px solid #222;
	border-right: none;
	border-top: none;
	width:100%;
	max-width:799px;
	font-family: sans-serif;
	margin: 0px auto;
	padding: 0px 0px 5px;
	}

#controls:hover { background: rgba(0,0,0,0.55); }
#controls:hover, #controls:hover a { color: #333; }
#controls:hover a:hover { color:#ccc; }

#menu { height: 50px; }

#controls #menu div {
	width: 24.3%;
	height: 100%;
	text-align: center;
	line-height: 50px;
	display: inline-block;
	position: relative;
	}

#header {
	position:relative;
	height:40px;
	margin-top: -40px;
	line-height: 40px;
}

#header:hover { color:#777;}
#header a:hover { color:#ccc;}

#abbr { float:left; }

#screensize {
	height:40px;
	line-height:40px;
	float:right;
}

#rotate{
	position:absolute;
	right:-40px;
	font-size:24px;
	font-weight:bolder;
}

#description {
	height:40px;
	margin-bottom: -40px;
	line-height: 40px;
}