body {
	font-family: helvetica, arial, sans-serif; 
	background: #e8e8e8; 
	margin: 0px; 
}

a:hover { text-decoration: none; }

#app_wrapper { text-align: center; }

#url_entry { 
	margin-top: 30px;
	vertical-align: middle;
}

#url_entry input {
	width: 25%;
	min-width: 250px; 
	margin: 0px;
}

#reload_btn, #info_btn, #faq_btn { font-size: 16px; }
#menu_btn, #rotate { font-size: 20px; }




#border {
	background:#111;
	margin: 20px auto 0px;
	border: 45px solid #080808;
	display:inline-block;
	font-size:15px;
	box-shadow: 0 8px 15px 8px #ccc;	
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	color:rgba(200,200,200,0.4);
	}

#device { 
	width: 480px; 
	height: 320px;
}

#viewport {
	border: 1px solid #444;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	background:#555;
	}

#header {
	position: relative;
	height: 40px;
	margin-top: -40px;
	line-height: 40px;
}

#header a { color: #555; }
#header:hover   { color: #777; }
#header a:hover { color: #ccc; }

#abbr { float:left; }

#screensize { float: right; }

#menu_btn { padding: 0px 10px;}

#presets_menu {
	position: absolute;
	width: 190px;
	right: -2px;
	text-align: left;
	border: 1px solid #444;
	border-top: none;
	background:#000;
	background: rgba(0,0,0,0.85);
	display:none;
}
#presets_menu ul { list-style-type: none; margin:0px; padding:0px; }
#presets_menu li { line-height:22px;padding:0px 10px; }
#presets_menu li:hover { background:#111; }
#presets_menu li.active { background:#000; }
#presets_menu li.active a { color:#eee; }
#presets_menu li a { width:100%; display:inline-block; }

#presets_menu li a div { display:inline-block; }
#presets_menu.aspect_0 li a div.aspect_1 { display:none; }
#presets_menu.aspect_1 li a div.aspect_0 { display:none; }

#rotate {
	position: absolute;
	right: -35px;
}

#scrollbars{
	position: absolute;
	top: 50px;
	right: -30px;
	font-size: 24px;
	font-weight: bold;
}

#description {
	height: 40px;
	margin-bottom: -40px;
	line-height: 40px;
}

#info_text, #faq_text { display:none; }


/* use this to hide iframe scrollbar but keep functionality in webkit */
div.hide_scrollbar #viewport::-webkit-scrollbar{ display: none; }
#viewport::-webkit-scrollbar{  }

